# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#env files

.env
*.env
.env*

#test files

test_db.js 
test.js
test_db.mjs
test_db2.mjs

src/test-import.js
test_cards.js
test_supabase.mjs


# to ignore python files
*.py
backendPlan.md